body {
  background: #F8FCFF;
  font-family: "Montserrat", arial, sans-serif;
  line-height: calc(20/16);
  color: #25282B;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

/* ================================================================ */
